
/**
 *  Flex Grid Framework
 *  -------------------
 *  Super minimalistic CSS flex framework for responsive-friendly websites.
 *
 *  @author milankyncl <kontakt@milankyncl.cz>
 *  @version 1.0.0
 */

/**
 * Some settings here...
 */

$columns: 24; // Number of columns
$indentation: 10; // Number of max. indentation in REM unit for padding and margin

$breakpoints: ( // Breakpoints for responsive layout
        lg: 1440px,
        md: 1024px,
        sm: 768px,
        xs: 560px
);

/**
 * Now the code.. (:
 */

.row {

    display: flex;
    flex-direction: row;

    &--vertical-center {

        align-items: center;
    }

    &--v-top {

        align-items: flex-start;
    }

    &--v-bottom {

        align-items: flex-end;
    }

    &--h-right {

        justify-content: flex-end;
    }

    &--h-center {

        justify-content: center;
    }

    &--space-between{

        justify-content: space-between;
    }

    &--space-around {

        justify-content: space-around;
    }

    &--stretch {

        align-items: stretch;
    }

    &--wrap {

        flex-wrap: wrap;
    }
}

.col {

    box-sizing: border-box;

    &--fill {

        flex: 1;
    }

    &--auto {

        flex-basis: auto;
    }
}


@for $i from 0 through $columns {

    .col--#{$i} {

        flex-basis: (100% / $columns) * $i;
        max-width: (100% / $columns) * $i;
    }
}

@each $breakpoint, $max-width in $breakpoints {

    @for $i from 0 through $columns {

        .col--#{$breakpoint}-#{$i} {

            @media all and (max-width: $max-width) {

                flex-basis: (100% / $columns) * $i;
                max-width: (100% / $columns) * $i;
            }
        }
    }
}

@for $i from 0 through $indentation {

    .p-t-#{$i} {

        padding-top: #{$i}rem;
    }

    .p-b-#{$i} {

        padding-bottom: #{$i}rem;
    }

    .p-l-#{$i} {

        padding-left: #{$i}rem;
    }

    .p-r-#{$i} {

        padding-right: #{$i}rem;
    }

    .m-b-#{$i} {

        margin-bottom: #{$i}rem;
    }

    .m-t-#{$i} {

        margin-top: #{$i}rem;
    }

    .m-r-#{$i} {

        margin-right: #{$i}rem;
    }

    .m-l-#{$i} {

        margin-left: #{$i}rem;
    }
}

@each $breakpoint, $max-width in $breakpoints {

    @for $i from 0 through $indentation {

        .p-t-#{$breakpoint}-#{$i} {

            @media all and (max-width: $max-width) {

                padding-top: #{$i}rem;
            }
        }

        .p-b-#{$breakpoint}-#{$i} {

            @media all and (max-width: $max-width) {

                padding-bottom: #{$i}rem;
            }
        }

        .p-l-#{$breakpoint}-#{$i} {

            @media all and (max-width: $max-width) {

                padding-left: #{$i}rem;
            }
        }

        .p-r-#{$breakpoint}-#{$i} {

            @media all and (max-width: $max-width) {

                padding-right: #{$i}rem;
            }
        }


        .m-b-#{$breakpoint}-#{$i} {

            @media all and (max-width: $max-width) {

                margin-bottom: #{$i}rem;
            }
        }

        .m-t-#{$breakpoint}-#{$i} {

            @media all and (max-width: $max-width) {

                margin-top: #{$i}rem;
            }
        }

        .m-r-#{$breakpoint}-#{$i} {

            @media all and (max-width: $max-width) {

                margin-right: #{$i}rem;
            }
        }

        .m-l-#{$breakpoint}-#{$i} {

            @media(max-width: $max-width) {

                margin-left: #{$i}rem;
            }
        }
    }
}